.auth-page {
  min-height: 100vh;
  background: linear-gradient(to right, #0f172a, #111827);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  color: white;
}

.auth-card {
  width: 100%;
  max-width: 430px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.auth-card h1 {
  color: #22c55e;
  font-size: 40px;
  margin-bottom: 10px;
}

.auth-card p {
  color: #cbd5e1;
  margin-bottom: 30px;
  font-size: 16px;
}

.auth-card input {
  width: 100%;
  padding: 16px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  font-size: 16px;
}

.auth-card input::placeholder {
  color: #d1d5db;
}

.auth-card button {
  width: 100%;
  padding: 16px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #16a34a;
  transform: translateY(-3px);
}
.auth-options {
  text-align: right;
  margin-bottom: 20px;
}

.auth-options a,
.auth-bottom-text a {
  color: #22c55e;
  text-decoration: none;
  font-weight: bold;
}

.auth-options a:hover,
.auth-bottom-text a:hover {
  text-decoration: underline;
}

.auth-bottom-text {
  margin-top: 20px;
  color: #cbd5e1;
  font-size: 15px;
}